---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@use "sass:color";
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-size-for-palm:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$small-font-size-for-palm:  $base-font-size-for-palm * 0.875;
$base-line-height: 1.8;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$header-footer-bg-color: #BCC6CC;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-mid-light: color.adjust($grey-color, $lightness: 25%);
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark:  color.adjust($grey-color, $lightness: -25%);
$grey-color-very-light: #f0f0f0;
// Width of the content area
$content-width:    1200px;
$content-text-width: 1200px;
$on-palm:          600px;
$on-laptop:        800px;
$on-narrow:        950px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: calc(#{$spacing-unit} / 2);
//         padding-left: calc(#{$spacing-unit} / 2);
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// base
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    @include media-query($on-palm)  {
        font: $base-font-weight #{$base-font-size-for-palm}/#{$base-line-height} $base-font-family;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: calc(#{$spacing-unit} / 2);
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    text-align: center;
    @include media-query($on-palm)  {
        font-size: $small-font-size-for-palm;        
    }
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: color.adjust($brand-color, $lightness: -15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: calc(#{$spacing-unit} / 2);

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: calc(#{$spacing-unit} / 2);
        padding-left: calc(#{$spacing-unit} / 2);
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
* share button
*/
.fb-share-button span 
{
    vertical-align: baseline !important;
}

// layout
/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    height: 56px;
    position: relative;
    background-color: $header-footer-bg-color;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-narrow) {
        position: absolute;
        top: 9px;
        right: calc(#{$spacing-unit} / 2);
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
	    cursor: pointer;
            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
	        padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $header-footer-bg-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: calc(#{$spacing-unit} / 2);
}

.contact-list,
.social-media-list,
.footer-info-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $text-color;
    margin-left: -calc(#{$spacing-unit} / 2);
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: calc(#{$spacing-unit} / 2);
    padding-left: calc(#{$spacing-unit} / 2);
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list-link {
    color: $text-color;
    &:hover, &:visited {
	text-decoration: none;
	color: $text-color;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    .post-meta {
	    display: block;
	    text-align: left;
	    font-size: 10px;
    }
    li {
	    border-radius: 4px;
        box-shadow: 0 3px 8px rgba(0,0,0,.3);
	    margin: 10px;
	    display: block;
	    height: 200px;
	    max-width: 170px;
	    padding: 4px 8px;
        overflow: hidden;
	    background: $grey-color-very-light;
	    h2 {
	        font-size: 20px;
	        line-height: 1.2;
	        margin-bottom: 5px;
	    }
	    p {
	        font-size: 12px;
	    }
	    img {
	        max-width: 100%;
	    }
    }
    li:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,.6)
    }
}

#scroller {
    height: $spacing-unit * 1.4;
    margin: $spacing-unit auto;
    display: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid $header-footer-bg-color;
    width: 20em;
    max-width: 80%;
    font-size: 1em;
    cursor: pointer;
}

#scroller:hover {
    box-shadow: 0 3px 8px rgba(0,0,0,.3);
}


@include media-query($on-palm) {
    .post-list {
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	> li {
	    margin: 8px;
	    h2 {
		font-size: 18px;
	    }
	    p {
		font-size: 10px;
	    }
	}
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    > ul {
        display: inline-block;
        list-style: none;
        margin-left: 1em;
        > li {
            display: inline-block;
        }
    }
    @include media-query($on-palm)  {
        font-size: $small-font-size-for-palm;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}

.category-list, .monthly-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 0;
    > li {
	display: block;
	height: 2em;
	margin: 0.5em;
	padding: 0.5em;
    }
}
.monthly-list {
    >li {
	    width: 8em;
    }
}
.no-posts-month {
    color: $grey-color-mid-light;
}

.category-list {
    > li {
        width: 15em;
    }
}

/**
 * Posts
 */
.post {
    max-width: $content-text-width;
    margin-left: auto;
    margin-right: auto;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    > p {
        text-indent: 1em;
    }
    > p.noindent {
        text-indent: 0em;
    }
    
    h2 {
        margin-top: $spacing-unit;
        font-size: 32px;
        border-bottom: 1px solid #a0a0a0;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        margin-top: $spacing-unit;
        font-size: 26px;
        border-bottom: 1px solid #a0a0a0;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        margin-top: $spacing-unit;
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    img {
	display: block;
	max-width: 90%;
	padding: 0.5em;
	margin: 0 auto;
    }
    figcaption {
        font-size: 0.8em;
        color: #884400;
        text-align: center;
    }
}

.post-navigation {
    padding: 0.5em 0;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    a {
        color: #888888;
        &:hover, &:visited {
	        text-decoration: none;
            color: #888888;
        }

    }
    .next-post {
        padding-right: 1em;
        grid-column: 2;
        justify-self: end;
        &::before {
            display: inline-block;
            float: right;
            padding-left: 0.5em;
            content: "newer »";
            margin-right: -1em;
        }
    }
    .prev-post {
        grid-column: 1;
        &::before {
            float: left;
            display: block;
            padding-right: 0.5em;
            content: "« older";
        }
    }
}



.note {
    font-size: 0.8em;
    color: #884400;
}


#site_search {
    label { font-size: 1.1em };
    input {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-appearance: none;
        max-width: 100%;
        font-size: 1em;
    }

    #search_box {
        height: 24px;
        border: 1px solid #d3d3d3;
        line-height: 26px;
        padding: 0 4px;
        font-size: 1em;
        width: 12em;
    }

    #search_button {
        height: 24px;
        font-size: 1em;
        line-height: 26px;
        background-color: $background-color;
        margin-left: -0.3em;
    }
}
#search_results {
    margin-top: 1em;
    list-style: none;
    margin-left: 0;
    > li {
        margin-top: 1em;
        > .search-head {
            font-size: 1.1em;
            border-bottom: 1px solid $grey-color;
            > .date {
                font-size: 0.8em;
                line-height: 1;
                color: $grey-color;
                display: block;
            }
        }
        > .search-excerpt {
            margin-top: 0.4em;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1em;
            text-overflow: ellipsis;
        }
    }
}

.small-caution {
    font-size: 0.8em;
    color: $grey-color
}

/* basic elements */
dt {
    font-weight: bold;
}

// syntax-highlight
/**
 * Syntax highlighting styles
 */
.highlight {
    background: #fff;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: #eef;
    }

    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
}

/**
 * Advent Calendar
 */
.calendar-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

    @include media-query($on-palm) {
        padding: 10px;
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-query($on-palm) {
        gap: 5px;
    }
}

.day-name {
    background-color: $grey-color-mid-light;
    color: white;
    text-align: center;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;

    @include media-query($on-palm) {
        padding: 8px 3px;
        font-size: 12px;
    }
}

.advent-day {
    background-color: $grey-color-very-light;
    border: 1px solid $grey-color-light;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include media-query($on-palm) {
        min-height: 60px;
        padding: 5px;
    }

    .day-number {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 8px;
        color: $grey-color;

        @include media-query($on-palm) {
            font-size: 14px;
            margin-bottom: 4px;
        }
    }

    &.has-post {
        background-color: white;
        border-color: $brand-color;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);

        .day-number {
            color: $brand-color;
        }

        &:hover {
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
    }

    .post-info {
        width: 100%;

        a {
            display: block;
            font-size: 12px;
            line-height: 1.3;
            margin-bottom: 8px;
            word-break: break-word;

            @include media-query($on-palm) {
                font-size: 10px;
                margin-bottom: 4px;
            }
        }

        .post-image {
            margin-top: 8px;

            img {
                width: 100%;
                height: auto;
                border-radius: 2px;
            }
        }
    }
}

// 月の最初の日の位置を設定
.calendar .advent-day:nth-of-type(8) {
    grid-column-start: var(--first-day);
}
