---
layout: page
title: 月別アーカイブ
permalink: /monthly/
---
<section class="monthly">
  {% for year_archive in site.monthly_archives reversed %}
  <h3>{{ year_archive.year }} 年</h3>
  <ul class="monthly-list">
    {% for archive in year_archive.archives reversed %}
    <li>
      {% if archive.posts.size == 0 %}
      <span class="no-posts-month">{{ archive.date | date: "%Y年%m月" }} (0)</span>
      {% else %}
      <a href="{{ archive.url | prepend: site.baseurl }}">{{ archive.date | date: "%Y年%m月" }} </a> ({{ archive.posts | size }})
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
