{% if paginator %}
<script>
  let current_page = {{ paginator.page }};
  let previous_page = Number("{{ paginator.previous_page }}");
  let next_page = Number("{{ paginator.next_page }}");
  const total_pages = {{ paginator.total_pages }};
  const scroller = document.getElementById('scroller');
  const page_positions = [];
  let home;

  window.onload = () => {
    page_positions[current_page] = window.pageYOffset;
    home = document.getElementsByClassName('home')[0];    
    if (next_page) {
      scroller.style.display = 'block';
      scroller.onclick = () => {
        read_more();
      };
    }
    if (previous_page) {
      let pos = window.pageYOffset;
      const this_page_posts = document.getElementsByClassName('post-list')[0];
      load_previous(previous_page, []).then((elements) => {
        elements.forEach((prev) => {
          home.insertBefore(prev.elem, this_page_posts);
          const rect = prev.elem.getBoundingClientRect();
          pos = pos + rect.height + 15; // hard coded margin
          store_position(prev.page, prev.elem);
        });
        window.scrollTo(0, pos);
        window.onscroll = on_scroll;
        page_positions[current_page] = window.pageYOffset;
      });
    } else {
      window.onscroll = on_scroll;
    }
  };

  const on_scroll = () => {
    const page = binary_search_pos(window.pageYOffset, Math.floor(page_positions.length / 2), 0, page_positions.length -1);
    let path = '/blog/page-' + page + '/';
    if (page == 1)
      path = '/blog/'
    if (current_page != page) {
      current_page = page;
      history.pushState({page: page}, '', path);
    }
  };

  const binary_search_pos = (pos, index, start, end) => {
    if (index == end)
      return index;
    if (pos >= page_positions[index] && pos <= page_positions[index + 1]) {
      return index;
    }
    if (pos < page_positions[index]) {
      if (index == start) {
        return index;
      }
      return binary_search_pos(pos, start + Math.floor((index - start) / 2), start, index);
    }
    return binary_search_pos(pos, index + Math.ceil((end - index) / 2), index, end);
  };

  const load_previous = (page, elements) => {
    if (page == 0) {
      return Promise.resolve(elements);
    }
    return load_page(page).then((prev) => {
      elements.unshift({page: page, elem:prev});
        return load_previous(page - 1, elements);
    });
  };
  
  const load_page = (page) => {
    let url = '/blog/page-' + page + '/';
    if (page == 1) {
      url = '/blog/'
    }
    if (page < 1) {
      return ;
    }
    return fetch(url).then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        return response.text();
      }).then(text => {
        const content = new DOMParser().parseFromString(text, "text/html");
        const post_list =  content.documentElement.getElementsByClassName('post-list');
        if (post_list && post_list.length > 0) {
          return post_list[0]
        } else {
          throw Error('no post in page');
        };
      });      
  };

  const store_position = (page, element) => {
    const rect = element.getBoundingClientRect();
    page_positions[page] = window.pageYOffset + rect.top;
  };
  
  const read_more = () => {
    if (next_page) {
      load_page(next_page).then((next) => {
        home.appendChild(next);
        store_position(next_page, next);
        if (next_page < total_pages) {
          next_page += 1;
        } else {
          next_page = undefined
          scroller.style.display = 'none';            
        }
      });
    }
  };
</script>
{% endif %}
