{% if paginator %}
<script>
  let current_page = {{ paginator.page }};
  let previous_page = Number("{{ paginator.previous_page }}");
  let next_page = Number("{{ paginator.next_page }}");
  const total_pages = {{ paginator.total_pages }};
  const scroller = document.getElementById('scroller');
  window.onload = () => {
    if (next_page) {
      scroller.style.display = 'block';
      scroller.onclick = () => {
        read_more();
      };
    }
  };

  const read_more = () => {
    if (next_page) {
      fetch('/blog/page-' + next_page).then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        return response.text();
      }).then(text => {
        const content = new DOMParser().parseFromString(text, "text/html");
        const post_list = content.documentElement.getElementsByClassName('post-list');
        const home = document.getElementsByClassName('home')[0];
        if (post_list && post_list.length > 0) {
          home.appendChild(post_list[0]);
          current_page += 1;
          if (current_page < total_pages) {
            next_page += 1;
          } else {
            next_page = undefined
            scroller.style.display = 'none';            
          }
        }
      });
    }
  };
</script>
{% endif %}
