{% if paginator %}
<script>
  let current_page = {{ paginator.page }};
  let previous_page = Number("{{ paginator.previous_page }}");
  let next_page = Number("{{ paginator.next_page }}");
  const total_pages = {{ paginator.total_pages }};
  const scroller = document.getElementById('scroller');
  const page_positions = {};
  let home;
  window.onload = () => {
    page_positions[current_page] = window.pageYOffset;
    home = document.getElementsByClassName('home')[0];    
    if (next_page) {
      scroller.style.display = 'block';
      scroller.onclick = () => {
        read_more();
      };
    }
    if (previous_page) {
      
    }
  };

  const load_page = (page) => {
    return fetch('/blog/page-' + page).then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        return response.text();
      }).then(text => {
        const content = new DOMParser().parseFromString(text, "text/html");
        const post_list =  content.documentElement.getElementsByClassName('post-list');
        if (post_list && post_list.length > 0) {
          return post_list[0]
        } else {
          throw Error('no post in page');
        };
      });      
  }
  
  const read_more = () => {
    if (next_page) {
      load_page(next_page).then((next) => {
          home.appendChild(next);
          const rect = next.getBoundingClientRect();
          page_positions[next_page] = window.pageYOffset + rect.top - 400; // ad-hoc
          current_page += 1;
          if (current_page < total_pages) {
            next_page += 1;
          } else {
            next_page = undefined
            scroller.style.display = 'none';            
          }
      });
    }
  };
</script>
{% endif %}
