<script>
 let postList;
 let searchData;
 
 fetch('/blog/posts_lists_for_search.json').then((response) => {
     return response.json();
 }).then((json) => {
     postList = json;
 });

 fetch('/blog/search_data.json').then((response) => {
     return response.json();
 }).then((json) => {
     searchData = json;
     window.onpopstate = doSearchWithQuery;
     doSearchWithQuery();
 });


 const doSearchWithQuery = () => {
     const query = getQuery(location.search);
     if (query.q) {
         document.querySelector('#search_box').value = query.q;
         doSearch(query.q);
     }
 }

 const showResults = (results) => {
     const resultsList = document.querySelector('#search_results');
     resultsList.innerHTML = "";
     if (results.length == 0) {
         resultsList.innerHTML = "<li class='no_result'>結果が見つかりません</li>";
         
     }
     results.forEach((r) => {
         const item = postList[r];
         const date = document.createTextNode(item.date);
         const a = document.createElement('a');
         a.href = item.url;
         a.innerText = item.title;
         const datespan = document.createElement('span');
         datespan.className = 'date';
         datespan.appendChild(date);
         
         const head = document.createElement('div');
         head.appendChild(datespan);
         head.appendChild(a);
         head.className = 'search-head';         
         
         const excerpt = document.createTextNode(item.excerpt);
         const excerptDiv = document.createElement('div');
         excerptDiv.appendChild(excerpt);
         excerptDiv.className = 'search-excerpt';         
         const li = document.createElement('li');
         
         li.appendChild(head);
         li.appendChild(excerptDiv);
         resultsList.appendChild(li);
     });
 }
 document.querySelector('#site_search').addEventListener('submit', (e) => {
     e.preventDefault();
     const searchBox = document.querySelector('#search_box')
     const q = searchBox.value;
     history.pushState('search ' + q, null, location.pathname + '?q=' + q);
     searchBox.blur();
     doSearch(q);
 });

 const doSearch = (q) => {
     const wordsRegexp = q.split(/\s+/).filter((w) => w.length > 0).map((w) => RegExp(w, 'i'));
     const keys = Object.keys(searchData).filter((key) => {
     return wordsRegexp.every((regexp) => {
         return searchData[key].content.search(regexp) >= 0 ||
                searchData[key].title.search(regexp) >= 0
         });
     });
     showResults(keys);
 }

 const getQuery = (search) => {
     if (!search) return {};
     return search
         .substr(1)
         .split("&")
         .reduce((acc, cur) => {
             acc[cur.split("=")[0]] = decodeURI(cur.split("=")[1]);
             return acc;
         }, {});
 };
 
</script>
