/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: $header-footer-bg-color;    
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $header-footer-bg-color;    
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list-link {
    color: $text-color;
    &:hover, &:visited {
	text-decoration: none;
	color: $text-color;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    .post-meta {
	display: block;
	text-align: right;
	font-size: 10px;
    }
    li {
	border-radius: 4px;
	margin: 10px;
	display: block;
	height: 200px;
	max-width: 170px;
	padding: 8px;
        overflow: hidden;
	background: $grey-color-very-light;
	h2 {
	    font-size: 20px;
	    line-height: 1.2;
	    margin-bottom: 5px;
	}	
	p {
	    font-size: 12px;
	}
	img {
	    max-width: 100%;
	}
    }
}

@include media-query($on-palm) {
    .post-list {
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));	
	> li {
	    margin: 8px;	    
	    h2 {
		font-size: 18px;
	    }
	    p {
		font-size: 10px;
	    }
	}
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    > ul {
        display: inline-block;
        list-style: none;
        margin-left: 1em;
        > li {
            display: inline-block;            
        }
    }
}

.post-link {
    display: block;
    font-size: 24px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    > li {
	display: block;
	width: 12em;
	height: 2em;
	margin: 0.5em;
	padding: 0.5em;
    }
}

/**
 * Posts
 */
.post {
    max-width: $content-text-width;
    margin-left: auto;
    margin-right: auto;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        margin-top: $spacing-unit;
        font-size: 32px;
        border-bottom: 1px solid #a0a0a0;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        margin-top: $spacing-unit;
        font-size: 26px;
        border-bottom: 1px solid #a0a0a0;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        margin-top: $spacing-unit;
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
