name: Deploy
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: deploy blog
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Set up node
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: deploy to skoji
      env:
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        PORT: ${{ secrets.DEPLOY_PORT }}
        TZ: 'Asia/Tokyo'
      run: |
        eval `ssh-agent -s`
        echo "${DEPLOY_KEY}" > keyfile && chmod 600 keyfile
        ssh-add keyfile
        bundle install
        bundle exec rake build
        rsync -e "ssh -o StrictHostKeyChecking=no -p ${PORT}" -r -vz _site/ nginx-user@skoji.jp:/usr/share/nginx/html/blog/
        
        
      
