name: Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: deploy blog
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4
    - name: Set up node
      uses: actions/setup-node@v1
      with:
        node-version: 24.x
    - name: Optimise images with sharp-cli
      run: |
        npx --yes sharp-cli resize 1400 1400 \
          --fit inside \
          --withoutEnlargement \
          --progressive \
          --optimise \
          --input "images/**/*.{jpg,jpeg,png}" \
          --output "{dir}/{base}"
    - name: deploy to skoji
      env:
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        PORT: ${{ secrets.DEPLOY_PORT }}
        TZ: 'Asia/Tokyo'
      run: |
        eval `ssh-agent -s`
        echo "${DEPLOY_KEY}" > keyfile && chmod 600 keyfile
        ssh-add keyfile
        bundle install
        bundle exec rake build
        rsync -e "ssh -o StrictHostKeyChecking=no -p ${PORT}" -r -vz skoji.jp-root/ web-deploy@skoji.jp:/var/www/html/
        
        
      
